<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}} by {{page.author}}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{page.title}}</h1>
        <p class="header"><small>{{page.tagline}}</small></p>

        <ul>
          <li><a class="buttons" href="index">Home</a></li>
          <li><a class="buttons" href="manual">Manual</a></li>
          <!-- li class="download"><a class="buttons" href="https://github.com/polettix/Data-Tubes/zipball/master">Download ZIP</a></li -->
          <!-- li class="download"><a class="buttons" href="https://github.com/polettix/Data-Tubes/tarball/master">Download TAR</a></li -->
          <li><a class="buttons github" href="https://github.com/polettix/Data-Tubes">View On GitHub</a></li>
        </ul>

        <p class="header"><a href="https://github.com/polettix" class="avatar"><img src="https://avatars0.githubusercontent.com/u/114540?v=3&amp;s=60" width="48" height="48"></a> by <a href="https://github.com/polettix">polettix</a></p>

        <p><small><a 
                href="https://github.com/broccolini/dinky">Dinky</a>
            theme by <a
                href="http://broccolini.net/">Diana&nbsp;Mounter</a></small></p>
      </header>
      <section>
        {{content}}

        {% if page.comments %}
        {% include disqus.html %}
        {% endif %}

        {% if 0 > 0 %}<p>greater</p>{% else %}<p>not greater</p>{% endif %}
      </section>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
